{{!< default}}

<div class="page-body">
  <div class="container-xl">
    <div class="d-flex flex-column justify-content-center align-items-center flex-md-row justify-content-md-between mt-5 pl-3 pr-3 pl-md-0 pr-md-0">
      <div class="mt-5 pt-3">
        <div class="text-white fw-semibold text-lg-left" style="font-size: 24px;">Meet Sniffler. The most attentive</div>
        <div class="display-2 fw-bold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">code reviewer</div>
        <p class="text-white opacity-75 mt-4">Sniffler will scan your code automatically via GitHub pull request
          <br/>Be sure, he won't miss a beat!
        </p>
        <a href="https://app.sniffler.io" class="btn btn-pill border-0 mt-5" style="background: rgba(255, 255, 255, 0.1);" target="_blank">
          <img src="{{asset '/images/git_logo.svg'}}" />
          <span class="fw-semibold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin-left: 12px;">Sign In</span>
        </a>
      </div>
      <div class="mt-5">
        <img src="{{asset '/images/git.png'}}" />
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center flex-md-row justify-content-md-between align-items-md-center" style="border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 24px; padding: 40px  70px 40px 70px; margin-top: 120px;">
      <div style="margin-right: 50px;">
        <p class="text-white fw-semibold" style="font-size: 24px;">Supported languages</p>
        <p class="text-white opacity-75">Made for projects big and small</p>
        <div class="d-flex align-items-center" style="margin-top: 55px;">
          <img src="{{asset '/images/config.svg'}}" />
          <div class="text-white opacity-50" style="margin-left: 20px;">Can be configured to use a specific <br /> linter version also <a href="#">Learn more.</a></div>
        </div>
      </div>
      <div class="mt-4 mt-md-0">
        <img src="{{asset '/images/logos.png'}}" />
      </div>
    </div>

    <div class="row" style="margin-top:160px;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="display-4 fw-bold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">quick’n’easy</div>
        <p class="text-white text-center opacity-75 mt-4" style="font-size: 16px;" >When a GitHub pull request is opened or updated Sniffler simply integrates with your workflow <br /> Sniffler scans and reports errors with your code and helps you fix them whenever possible </p>
        <div class="d-flex align-items-center" style="margin-top: 50px;">
          <div class="position-relative">
            <img class="position-absolute" style="top: 22px; left: 24px;" src="{{asset '/images/Code.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Create code</div>
          </div>
          <img  src="{{asset '/images/Vector.svg'}}" />
          <div class="position-relative">
            <img class="position-absolute" style="top: 22px; left: 28px;" src="{{asset '/images/Union.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Open a PR</div>
          </div>
          <img  src="{{asset '/images/Vector.svg'}}" />
          <div class="position-relative">
            <img class="position-absolute" style="top: 10px; left: 10px; width: 80px; height: 80px;" src="{{asset '/images/attentive.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" style="width: 100px; height: 100px;" />
            <div class="position-absolute text-white fw-semibold pt-3" style="width: 120px;">Sniffler is here <br /> with all attention!</div>
          </div>
          <img  src="{{asset '/images/Vector.svg'}}" />
          <div class="position-relative">
            <img class="position-absolute" style="top: 26px; left: 28px;" src="{{asset '/images/checkmark.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Fix errors</div>
          </div>
          <img  src="{{asset '/images/Vector.svg'}}" />
          <div class="position-relative">
            <img class="position-absolute" style="top: 22px; left: 30px;" src="{{asset '/images/Union_2.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Megre PR</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:160px;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="display-4 fw-bold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">..back home</div>
        <p class="text-white opacity-75 mt-3" style="font-size: 16px;" >Where he can talk to you seriously</p>
        <img class="mt-5" src="{{asset '/images/complex_colors.png'}}" />
        <img src="{{asset '/images/2 58.png'}}" />
      </div>
    </div>

    <div class="row" style="margin-top: 160px;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="display-4 fw-bold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">pricing plans</div>
        <div class="text-white opacity-75 mt-3" style="font-size: 16px;" >You cannot buy the time of your life spent on checking the code yourself</div>
        <div class="text-white opacity-75 mt-2" style="font-size: 16px;" >Always free for public repos</div>
        
        <div class="row row-cards" style="margin-top: 50px;">
          <div class="col-sm-6 col-lg-4">
            <div class="card card-md border-0" style="background-color: #22232E;">
              <div class="card-body">
                <div style="height: 120px;">
                  <div class="text-white text-left fw-semibold" style="font-size: 30px;">Free</div>
                  <div class="text-white mt-3" style="font-size: 18px;">Teddy</div>
                  <div class="text-white opacity-75 mt-1">3 private reviews / day</div>
                </div>
                <div class="text-center" style="margin-top: 40px;">
                  <a href="#" class="btn btn-pill w-100 border-0" style="background: rgba(255, 255, 255, 0.05);"><text style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Get started</text></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card card-md border-1" style="background-color: #22232E; border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 20px;">
              <div class="card-body">
                <div style="height: 120px;"> 
                  <div class="text-white text-left fw-semibold" style="font-size: 30px;">$48/mo</div>
                  <div class="text-white mt-3" style="font-size: 18px;">Big guy</div>
                  <div class="text-white opacity-75 mt-1">Up to 300 private reviews </div>
                </div>
                <div class="text-center" style="margin-top: 40px;">
                  <a href="#" class="btn btn-pill w-100 border-0" style="background: rgba(255, 255, 255, 0.05);"><text style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Get started</text></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card card-md border-0"  style="background-color: #22232E;">
              <div class="card-body">
                <div style="height: 120px;"> 
                  <div class="text-white text-left fw-semibold" style="font-size: 30px;">Custom</div>
                  <div class="text-white mt-3" style="font-size: 18px;">Name it</div>
                  <div class="text-white opacity-75 mt-1">Unlimited Possibilities</div>
                </div>
                <div class="text-center" style="margin-top: 40px;">
                  <a href="#" class="btn btn-pill w-100 border-0" style="background: rgba(255, 255, 255, 0.05);"><text style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Get started</text></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center" style="border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 24px; padding: 40px  70px 40px 70px; margin-top: 120px;">
      <img src="{{asset '/images/7158713-5 3.svg'}}" />
      <div style="margin-left: 60px;">
        <p class="text-white fw-semibold" style="font-size: 24px;">Curious fact</p>
        <p class="text-white opacity-75">The part of a bear's brain that processes smells is five times larger than in humans. <br /> Also a bear has a much better sense of smell than a dog.. </p>
      </div>
    </div>

    <div class="row" style="margin-top:160px;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="display-4 fw-bold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">here to help</div>
        <p class="text-white text-center opacity-75 mt-4" style="font-size: 16px;" >If you need more insightful & detailed code review with professional expertise <br /> and the human feedback, please do not hesitate to contact us</p>
        <div class="d-flex align-items-center" style="margin-top: 80px;">
          <div class="position-relative" style="margin-right: 150px;">
            <img class="position-absolute" style="top: 22px; left: 24px;" src="{{asset '/images/Star 2.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Code quality</div>
          </div>
          <div class="position-relative" style="margin-right: 150px;">
            <img class="position-absolute" style="top: 24px; left: 25px;" src="{{asset '/images/cog.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Code maintainability</div>
          </div>
          <div class="position-relative" style="margin-right: 150px;">
            <img class="position-absolute" style="top: 26px; left: 25px;" src="{{asset '/images/architecture.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">Project architecture</div>
          </div>
          <div class="position-relative">
            <img class="position-absolute" style="top: 36px; left: 26px;" src="{{asset '/images/Union_3.svg'}}" />
            <img  src="{{asset '/images/Rectangle.svg'}}" />
            <div class="position-absolute text-white fw-semibold pt-3">+ many more parameters</div>
          </div>
        </div>
      </div>
      <p class="text-white text-center opacity-30" style="margin-top: 140px;">You can find out more about this service on our website</p>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <a href="#" class="btn btn-pill border-0" style="background: rgba(255, 255, 255, 0.05); padding-left: 80px; padding-right: 80px;"><text style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;  padding-top: 4px; padding-bottom: 4px;">Yes, I wonder</text></a>
    </div>

    <div class="row" style="margin-top:160px; padding-bottom: 180px;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="display-5 fw-bold" style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">say hi we'll try to reply asap</div>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 50px">
        <form class="row g-3" style="width: 60%;">
          <div class="col-md-6">
            <label for="full_name" class="form-label" style="color: #B8B8B8;">Full name</label>
            <input type="text" class="form-control" id="full_name" style="color: white; background-color: #22232E; border-color: #8A8A8A; border-radius: 8px;">
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label" style="color: #B8B8B8;">Email</label>
            <input type="email" class="form-control" id="email" style="color: white; background-color: #22232E; border-color: #8A8A8A; border-radius: 8px;">
          </div>
          <div class="col-12">
            <label for="message" class="form-label" style="color: #B8B8B8;">Message</label>
            <textarea type="text" rows="5" class="form-control" id="message" style="color: white; background-color: #22232E; border-color: #8A8A8A; border-radius: 8px;"></textarea>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content-center mt-3">
               <a href="#" class="btn btn-pill border-0" style="background: rgba(255, 255, 255, 0.05); padding-left: 100px; padding-right: 100px;"><text style="background: -webkit-linear-gradient(#9DFDB0, #12CEF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-top: 4px; padding-bottom: 4px;">Submit</text></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>